<a href="https://colab.research.google.com/github/DigitalSangee/CollegeWorkshop/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 **Printing to the Console**

In [ ]:
print("Hello, World!")

**Variables and Data Types**

In [ ]:
name = "John"
age = 25
height = 1.75
is_student = True

print("Name:", name)
print("age:", age)
print("height:", height)
print("is_student:", is_student)

**Basic Operations**

In [ ]:
a = 10
b = 5

sum_result = a + b
difference_result = a - b
product_result = a * b
division_result = a / b
remainder_result = a % b

print(sum_result, difference_result, product_result, division_result, remainder_result)

**Input from the User**

In [ ]:
user_input = input("Enter your name: ")
print("Hello, " + user_input + "!")

**Conditional Statements**

In [ ]:
age = int(input("Enter your age: "))

if age < 18:
    print("You are a minor.")
elif age >= 18 and age < 65:
    print("You are an adult.")
else:
    print("You are a senior citizen.")

**Loops**

In [ ]:
# Using a for loop to print numbers from 1 to 5
for i in range(1, 6):
    print(i)

# Using a while loop to count down from 5 to 1
count = 5
while count > 0:
    print(count)
    count -= 1

**Lists**

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")  # Adding an item
fruits.remove("banana")  # Removing an item
for i in range(0, 3):
    print(fruits[i])

apple
cherry
orange

**Functions**

In [ ]:
def greet(name):
    return "Hello, " + name + "!"

message = greet("Alice")
print(message)